<section class="main__chart-wrapper">
  <div
    id="chart"
    *ngIf="
      chartOptions.series &&
      chartOptions.chart &&
      chartOptions.xaxis &&
      chartOptions.plotOptions &&
      chartOptions.dataLabels &&
      chartOptions.stroke &&
      chartOptions.title
    "
  >
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [title]="chartOptions.title"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
    ></apx-chart>
  </div>
</section>
